.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.rds
*.csv
*.txt.gz
*.parquet
Rplots.pdf
*.csv
.ipynb_checkpoints
__pycache__
logs/
*.out
*.err
*.log
.snakemake
*.txt
output/
partition_variance/
zenodo_meta/
